*.class
*.log
!**/resources/*.log
.DS_Store
*.iml
.idea/
.bloop/
.metals/
.vscode/
.ammonite/
.bsp/
project/metals.sbt
target/
metastore_db/
kafka-logs/
hive_scratch_dir/
embedded_zookeeper/
warehouse_dir/
spark-warehouse/
**/universal/dev.properties
**/universal/prod.properties
metals.sbt
project/project/*
